.App {
  text-align: center;
}

input {
  margin: 40px 20px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: #f1f1f1;
  border: 2px solid rgba(0, 0, 0, 0.144);
  color: rgb(36, 36, 36);
  font: 20px "Roboto", sans-serif;
  width: min(600px, 80%);
}

input:focus {
  outline: none;
}

.logs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.log {
  font-size: larger;
  display: flex;
  color: rgb(53, 53, 53);
  flex-direction: column;
  justify-content: space-between;
  width: min(600px, 80%);
  padding: 10px;
  margin: 5px;
  text-align: center;
  border: 3px solid rgba(0, 0, 0, 0.075);
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.055);
  border-top: 5px solid rgba(0, 0, 0, 0.267);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: 0.3s;
}

.log:hover {
  background-color: rgba(0, 0, 0, 0.075);
  color: rgb(53, 53, 53);
  transform: scale(1.05);
}
.log-message {
  width: 100%;
}
.log-time {
  color: rgba(0, 0, 0, 0.603);
  font-size: small;
}

h1 {
  color: rgba(70, 70, 70, 0.842);
  padding: 0px 0px;
  margin: 10px 0px;
}
